body {
    margin: 0;
    padding: 0;
    font-family: serif;
}

#principal {
    background-image: url(fondoSitio.jpg);
    background-size: cover;
}

.formulario {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(223, 145, 2);
}

.formulario h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: rgba(94, 92, 91, 0.842);
}

.formulario form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .ingreso {
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}

.ingreso input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.reestablecer {
    margin: -5px 0 20px 5px;
    color: rgb(53, 99, 168);
    cursor: pointer;
}

.boton {
    margin-bottom: 10px;
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-color: silver;
    background-color: orange;
    border-radius: 25px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    outline: none;
}

.registro {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: grey;
}

.carousel-inner {
    text-align: center;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0 5px;
}

.nav-link {
    margin-right: 35px;
}

/* PAGINA SECRETARIA*/
#body-secretaria{
    background-color: #CCCCCC;
}

.colBotones{
    height: 10%;
    justify-content: space-between;
    float: right;
}

.form-group{
    margin-bottom: 20px;
}

.table{
    cursor: pointer;
}
