body{
    background-image: url(Recursos/fondoOficial.jpg);
    background-image: contain;
    

}


#row1{
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    min-height: 670px;
    background-image: url(Recursos/nuestraEmpresa/medica.jpg);
    
    background-size: cover;
    background-position: 50%;

    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.row2{
    margin:40px;
}

#row3{
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    min-height: 670px;
    background-image: url(Recursos/nuestraEmpresa/veterinario.jpg);
    background-size: cover;
    background-position: 50%;
    
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

}

.titulos{    
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 120px;
    color: rgb(224, 196, 119);
    text-shadow: 1px 1px 3px black;
    text-align: center;
}

.textoEmpresa{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger ;
    font-style: italic;
}