.logo{
    width: 100px;
    height: 100px;
}

#logoVeterinaria{
    margin-left: 30px;
    height: 120px;
    width: 120px;
    padding: 0;
    margin-right: 30px;
}

.seccionesNavegacion{
    display: inline-block;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: underline;
    text-decoration-color: #ff9800;
    text-decoration-thickness: 3px;
    font-style:oblique;
    font-size: 20px;
}

.seccionesNavegacion:hover{
    transform: scale(1.1); 
    transition: all 0.5s; 
}

#btn-cerrarSesion{
    font-weight: 700;
    color: #222222;
    padding: 9px 25px;
    background-color: #ff9800;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}
