.sidebar {
    height: 100%;
    width: inherit;
    position: fixed; /* Se queda en el lugar al hacer scroll */
    z-index: 1;
    top: max(75px, 15vh);
    left: 0;
    background: rgb(101,113,111);
    background: linear-gradient(180deg, rgba(101,113,111,1) 36%, rgba(198,195,180,1) 100%);
    overflow-x: hidden; /* Deshabilita scroll horizontal */
    padding-top: 30px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.btnSidebar {
    width: 100%;
    font-size: 20px;
    cursor: pointer;
    background: rgb(101,113,111);
    background: linear-gradient(180deg, rgba(101,113,111,1) 36%, rgba(198,195,180,1) 100%);
    color: white;
    padding: 10px 15px;
    border: none;
}

.btnAbrirSidebar:hover {
    background-color: #444;
}

#itemSeleccionado{
    background-color: #ff9800;
}

#itemSeleccionado:hover {
    color: #818181;
}