.logo{
    width: 25px;
    height: 25px;
}

#logoVeterinaria{
    margin-left: 30px;
    min-height: 75px;
    min-width: 75px;
    height: 15vh;
    width: 15vh;
    padding: 0;
    margin-right: 30px;
}

.seccionesNavegacion{
    display: inline-block;
    vertical-align: top;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    color: #ff9800;
    
    font-style:oblique;
    font-size: 16px;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    filter: brightness(0.95);
}

.seccionesNavegacion:hover{
    transform: scale(1.1); 
    transition: all 0.5s; 
}

#btn-cerrarSesion{
    font-weight: 700;
    color: #222222;
    padding: 9px 25px;
    background-color: #ff9800;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.nav-link{
    margin-right: 35px;
}


.dropdown-toggle {

    font-weight: 700;
    color: black;
    padding: 9px 25px;
    background-color: #ff9800;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.dropdown-toggle:hover {
  background-color: #ff9900d2;
}

.dropdown-menu {
    width:fit-content;
}
.dropdown-item {
max-width: 100%;
}

.dropdown-item:hover{
    background-color: #ff9900d2;
}