body{
    margin: 0;
    padding: 0;
    background-image: url(../recursos/fondoOficial.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

form{
    padding: 0px 20px;
    box-sizing: border-box;
}

form h1{
    font-size: 40px;
    text-align: center;
    padding: 0 0 15px 0;
    text-shadow: 1px 1px 2px black;
}

.colBotones{
    height: 10%;
    justify-content: space-between;
    float: right;
}

.form-group{
    margin-bottom: 20px;
}

.table{
    cursor: pointer;
}

.fila-seleccionada{
    --bs-table-color:#FFFFFF;
    --bs-table-bg:#0D6EFD;
    --bs-table-border-color:#0D6EFD;
    --bs-table-striped-bg:#0D6EFD;
    --bs-table-striped-color:#000;
    --bs-table-active-bg:#0D6EFD;
    --bs-table-active-color:#000;
    --bs-table-hover-bg:#0D6EFD;
    --bs-table-hover-color:#000;
    color:var(--bs-table-color);
    border-color:var(--bs-table-border-color);
}