body{
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.logo{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.seccionesFooter:hover{
    transform: scale(1.15); 
    transition: all 0.5s; 
}

.subdivision{
    text-shadow: 1px 1px 2px black;
}