body{
    background-image: url(../recursos/fondoOficial.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#titulo{
    top: 50%;
    left: 50%;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 80px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(224, 196, 119);
    text-shadow: 1px 1px 10px black;
    filter: brightness(0.95);
}

.card-body h5{
    font-size: 30px;
    padding: 0 0 15px 0;
    text-shadow: 1px 1px 2px black;
}

.card-body p, li{
    font-size: 20px;
}

.cardImage{
    max-height: 300px;
}

.cardServicios{
    min-height: 753px;
}