#div_tabla{
    overflow-y: auto;
    max-height: 50vh;
}


.tarjeta_mascota img{
    max-width:50vh;
    max-height:auto;
    margin-left:auto;
    margin-right:auto;
    display:block;
}

.row{
    margin: 0;
}