body{
    background-image: url(../recursos/fondoOficial.jpg);

    background-size: contain;
}

#row1{
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    min-height: 670px;
    background-image: url(../recursos/nuestraEmpresa/medica.jpg);
    filter: brightness(0.95);
    background-size: cover;
    background-position: 50%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.row2{
    margin:40px;
}

#row3{
    margin: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    min-height: 670px;
    background-image: url(../recursos/nuestraEmpresa/veterinario.jpg);
    background-size: cover;
    background-position: 50%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    filter: brightness(0.95);
}

.titulos{    
    top: 50%;
    left: 20%;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 80px;
    text-align: center;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(224, 196, 119);
    text-shadow: 1px 1px 10px black;
    filter: brightness(0.95);
}

.textoEmpresa{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger ;
    font-style: italic;
}

.row{
    margin: 0;
}